Source: doucoin
Section: utils
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk>
Uploaders: Micah Anderson <micah@debian.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev | libminiupnpc-dev (>> 1.6),
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://doucoincore.org/
Vcs-Git: git://github.com/doucoin/doucoin.git
Vcs-Browser: https://github.com/doucoin/doucoin

Package: doucoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Doucoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Doucoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Doucoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, doucoind, and the CLI tool
 doucoin-cli to interact with the daemon.

Package: doucoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Doucoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Doucoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Doucoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Doucoin-Qt, a GUI for Doucoin based on Qt.

Package: doucoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Doucoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Doucoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Doucoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides doucoin-tx, a command-line transaction creation
 tool which can be used without a doucoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
