[Desktop Entry]
Encoding=UTF-8
Name=Doucoin
Comment=Doucoin P2P Cryptocurrency
Comment[fr]=Doucoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Doucoin, eşten eşe kriptografik sanal para birimi
Exec=doucoin-qt %u
Terminal=false
Type=Application
Icon=doucoin128
MimeType=x-scheme-handler/doucoin;
Categories=Office;Finance;
